[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
	ignore = dirty
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
	ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = git://github.com/guns/xterm-color-table.vim.git
	ignore = dirty
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule ".emacs.d/evil"]
	path = .emacs.d/evil
	url = git://gitorious.org/evil/evil.git
	ignore = dirty
[submodule ".vim/bundle/latex-box"]
	path = .vim/bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
	ignore = dirty
[submodule ".emacs.d/evil-surround"]
	path = .emacs.d/evil-surround
	url = git://github.com/timcharper/evil-surround.git
	ignore = dirty
[submodule ".emacs.d/undo-tree"]
	path = .emacs.d/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
	ignore = dirty
[submodule ".emacs.d/solarized-emacs"]
	path = .emacs.d/solarized-emacs
	url = git://github.com/bbatsov/solarized-emacs.git
	ignore = dirty
[submodule ".vim/bundle/csv"]
	path = .vim/bundle/csv
	url = git://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-lua-ftplugin"]
	path = .vim/bundle/vim-lua-ftplugin
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/paredit"]
	path = .vim/bundle/paredit
	url = git://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/vim-haskellConceal"]
	path = .vim/bundle/vim-haskellConceal
	url = https://github.com/Twinside/vim-haskellConceal.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
