[user]
	name = Ivan Sichmann Freitas
	email = ivansichfreitas@gmail.com

[alias]
	ci = commit
	br = branch
	ck = checkout
	st = status
	unstage = reset HEAD
[merge]
	tool = vimdiff
[color]
	ui = true
[core]
	editor = vim
