[user]
	name = Ivan Sichmann Freitas
	email = ivansichfreitas@gmail.com
	signingkey = FEBE1140

[alias]
	ci = commit
	br = branch
	ck = checkout
	st = status
	unstage = reset HEAD
	adp = add --patch
	amend = commit --amend

[merge]
	tool = vimdiff

[core]
	editor = vim
	fileMode = false
	excludesfile = /home/ivan/.gitignore_global

[push]
	default = current

[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencrytion = tls
	smtpuser = ivansichfreitas@gmail.com
	chainreply = false

[format]
	pretty = oneline

[color]
	ui = true

[color "branch"]
	current = green
	local = blue
	remote = yellow

[color "status"]
	added = green
	changed = blue
	untracked = red
[github]
	user = ISF
