<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="BlueFish">
				<action name="Execute">
					<execute>
						bluefish
					</execute>
				</action>
			</item>
			<item label="Eclipse">
				<action name="Execute">
					<execute>
						eclipse
					</execute>
				</action>
			</item>
			<item label="Nemiver">
				<action name="Execute">
					<execute>
						nemiver
					</execute>
				</action>
			</item>
			<item label="OpenJDK Monitoring &amp; Management Console">
				<action name="Execute">
					<execute>
						jconsole
					</execute>
				</action>
			</item>
			<item label="Qt Designer">
				<action name="Execute">
					<execute>
						designer
					</execute>
				</action>
			</item>
			<item label="Winpdb">
				<action name="Execute">
					<execute>
						winpdb
					</execute>
				</action>
			</item>
		</menu>
		<menu id="devices" label="Devices" execute="/usr/bin/obdevicemenu" />
		<menu id="2" label="Editors">
			<item label="GVim">
				<action name="Execute">
					<execute>
						gvim
					</execute>
				</action>
			</item>
			<item label="Leafpad">
				<action name="Execute">
					<execute>
						leafpad
					</execute>
				</action>
			</item>
			<item label="Zim Desktop Wiki">
				<action name="Execute">
					<execute>
						zim
					</execute>
				</action>
			</item>
		</menu>
		<menu id="18" label="Games">
			<menu id="10" label="Arcade">
				<item label="Hedgewars">
					<action name="Execute">
						<execute>
							hedgewars
						</execute>
					</action>
				</item>
				<item label="Wormux">
					<action name="Execute">
						<execute>
							wormux
						</execute>
					</action>
				</item>
			</menu>
			<menu id="16" label="Strategy">
				<item label="Battle for Wesnoth">
					<action name="Execute">
						<execute>
							wesnoth
						</execute>
					</action>
				</item>
				<item label="Battle for Wesnoth Map Editor">
					<action name="Execute">
						<execute>
							wesnoth -e
						</execute>
					</action>
				</item>
				<item label="Freeciv">
					<action name="Execute">
						<execute>
							freeciv-gtk2
						</execute>
					</action>
				</item>
				<item label="Warzone 2100">
					<action name="Execute">
						<execute>
							warzone2100
						</execute>
					</action>
				</item>
			</menu>
			<item label="Nexuiz (SDL)">
				<action name="Execute">
					<execute>
						nexuiz-sdl
					</execute>
				</action>
			</item>
			<item label="OpenTTD">
				<action name="Execute">
					<execute>
						openttd
					</execute>
				</action>
			</item>
		</menu>
		<menu id="6" label="Graphics">
			<item label="Apvlv">
				<action name="Execute">
					<execute>
						apvlv
					</execute>
				</action>
			</item>
			<item label="Zathura">
				<action name="Execute">
					<execute>
						zathura
					</execute>
				</action>
			</item>
			<item label="Comix">
				<action name="Execute">
					<execute>
						comix
					</execute>
				</action>
			</item>
			<item label="Dia Diagram Editor">
				<action name="Execute">
					<execute>
						dia
					</execute>
				</action>
			</item>
			<item label="Inkscape">
				<action name="Execute">
					<execute>
						inkscape
					</execute>
				</action>
			</item>
			<item label="Mirage">
				<action name="Execute">
					<execute>
						mirage
					</execute>
				</action>
			</item>
			<item label="Scribus">
				<action name="Execute">
					<execute>
						scribus
					</execute>
				</action>
			</item>
			<item label="GIMP">
				<action name="Execute">
					<execute>
						gimp
					</execute>
				</action>
			</item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="Audacious">
				<action name="Execute">
					<execute>
						audacious2
					</execute>
				</action>
			</item>
			<item label="DVD Encoder OGMRip">
				<action name="Execute">
					<execute>
						ogmrip
					</execute>
				</action>
			</item>
			<item label="HandBrake">
				<action name="Execute">
					<execute>
						ghb
					</execute>
				</action>
			</item>
			<item label="mkvinfo">
				<action name="Execute">
					<execute>
						mkvinfo -g
					</execute>
				</action>
			</item>
			<item label="mkvmerge GUI">
				<action name="Execute">
					<execute>
						mmg
					</execute>
				</action>
			</item>
			<item label="OpenShot Video Editor">
				<action name="Execute">
					<execute>
						openshot
					</execute>
				</action>
			</item>
			<item label="Sound Converter">
				<action name="Execute">
					<execute>
						soundconverter
					</execute>
				</action>
			</item>
			<item label="VLC media player">
				<action name="Execute">
					<execute>
						vlc
					</execute>
				</action>
			</item>
			<item label="Xfburn">
				<action name="Execute">
					<execute>
						xfburn
					</execute>
				</action>
			</item>
		</menu>
		<menu id="5" label="Network">
			<item label="Chromium">
				<action name="Execute">
					<execute>
						chromium
					</execute>
				</action>
			</item>
			<item label="FireFox">
				<action name="Execute">
					<execute>
						firefox
					</execute>
				</action>
			</item>
			<item label="Pidgin Internet Messenger">
				<action name="Execute">
					<execute>
						pidgin
					</execute>
				</action>
			</item>
			<item label="Qwit">
				<action name="Execute">
					<execute>
						qwit
					</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>
						transmission-gtk
					</execute>
				</action>
			</item>
			<item label="Wicd">
				<action name="Execute">
					<execute>
						wicd-client
					</execute>
				</action>
			</item>
			<item label="Ettercap GTK">
				<action name="Execute">
					<execute>
						ettercap-gtk --gtk
					</execute>
				</action>
			</item>
			<item label="Zenmap">
				<action name="Execute">
					<execute>
						zenmap
					</execute>
				</action>
			</item>
			<item label="Zenmap (as root)">
				<action name="Execute">
					<execute>
						/usr/share/zenmap/su-to-zenmap.sh
					</execute>
				</action>
			</item>
			<item label="Wireshark">
				<action name="Execute">
					<execute>
						wireshark
					</execute>
				</action>
			</item>
		</menu>
		<menu id="3" label="Office">
			<item label="LibreOffice Base">
				<action name="Execute">
					<execute>
						oobase
					</execute>
				</action>
			</item>
			<item label="LibreOffice Calc">
				<action name="Execute">
					<execute>
						oocalc
					</execute>
				</action>
			</item>
			<item label="LibreOffice Draw">
				<action name="Execute">
					<execute>
						oodraw
					</execute>
				</action>
			</item>
			<item label="LibreOffice Impress">
				<action name="Execute">
					<execute>
						ooimpress
					</execute>
				</action>
			</item>
			<item label="LibreOffice Writer">
				<action name="Execute">
					<execute>
						oowriter
					</execute>
				</action>
			</item>
			<item label="Openoffice.org Math">
				<action name="Execute">
					<execute>
						oomath
					</execute>
				</action>
			</item>
			<item label="Texmaker">
				<action name="Execute">
					<execute>
						texmaker
					</execute>
				</action>
			</item>
			<item label="Orage">
				<action name="Execute">
					<execute>
						orage
					</execute>
				</action>
			</item>
		</menu>
		<menu id="4" label="Science">
			<item label="gEDA Attribute Editor">
				<action name="Execute">
					<execute>
						gattrib
					</execute>
				</action>
			</item>
			<item label="gEDA Schematic Editor">
				<action name="Execute">
					<execute>
						gschem
					</execute>
				</action>
			</item>
			<item label="QtiPlot">
				<action name="Execute">
					<execute>
						qtiplot
					</execute>
				</action>
			</item>
		</menu>
		<menu id="19" label="Shells">
			<item label="dosbox Emulator">
				<action name="Execute">
					<execute>
						dosbox
					</execute>
				</action>
			</item>
			<item label="File Manager">
				<action name="Execute">
					<execute>
						pcmanfm
					</execute>
				</action>
			</item>
			<item label="Terminal">
				<action name="Execute">
					<execute>
						terminal
					</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<item label="Screen layout editor">
				<action name="Execute">
					<execute>
						arandr
					</execute>
				</action>
			</item>
			<menu id="36" label="Settings">
				<item label="Monitor Settings">
					<action name="Execute">
						<execute>
							lxrandr
						</execute>
					</action>
				</item>
				<item label="Preferred Applications">
					<action name="Execute">
						<execute>
							exo-preferred-applications
						</execute>
					</action>
				</item>
				<item label="Configure Menu">
					<action name="Execute">
						<execute>
							obmenu
						</execute>
					</action>
				</item>
				<item label="Notifications">
					<action name="Execute">
						<execute>
							xfce4-notifyd-config
						</execute>
					</action>
				</item>
				<item label="Customize Look and Feel">
					<action name="Execute">
						<execute>
							lxappearance
						</execute>
					</action>
				</item>
				<item label="Keyboard and Mouse">
					<action name="Execute">
						<execute>
							lxinput
						</execute>
					</action>
				</item>
				<item label="Openbox Configuration Manager">
					<action name="Execute">
						<execute>
							obconf
						</execute>
					</action>
				</item>
				<item label="Panel tint2">
					<action name="Execute">
						<execute>
							tint2conf
						</execute>
					</action>
				</item>
				<item label="Preferred Applications">
					<action name="Execute">
						<execute>
							libfm-pref-apps
						</execute>
					</action>
				</item>
			</menu>
			<item label="Task Manager">
				<action name="Execute">
					<execute>
						lxtask
					</execute>
				</action>
			</item>
			<item label="GParted">
				<action name="Execute">
					<execute>
						gksu /usr/sbin/gparted
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit">
					<execute>
						oblogout
					</execute>
				</action>
			</item>
		</menu>
		<item label="Halt">
			<action name="Execute">
				<execute>
					sudo shutdown -h now
				</execute>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<execute>
					sudo shutdown -r now
				</execute>
			</action>
		</item>
		<item label="Logout">
			<action name="Exit"/>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<execute>
					sudo pm-suspend
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
